<li class="product">
  <img class="product__img" [src]="product.image" [alt]="product.title">
  <h2 class="product__title">{{product.title}}</h2>
  <p class="product__text">Price: <span class="product__price">{{product.price | currency: "RUB"}}</span></p>
  <button
    class="product__btn"
    [ngClass]="{
      'bg-yellow': !details,
      'bg-white': details
    }"
    (click)="details = !details"
  >
    {{details ? 'Hide' : 'Show'}} Details
  </button>
  <div *ngIf="details">
    <p>{{product.description}}</p>
    <p>Rate: <span [ngStyle]="{fontWeight: 'bold'}">{{product.rating.rate | number: '1.2-4' }}</span></p>
  </div>
</li>
